.form-horizontal {
  .form-control {
    height: 30px;
  }
  
  label.control-label {
    padding-top: 4px;;
  }
  
  input {
    &[type="text"] {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  button {
    &[type="submit"] {
      width: 80px;
      span {
        margin-left: 2px;
      }
    }
  }
}
