/*
 * Stylesheets of Login page
 */
.login-area {
  padding: 10px;
  .well {
    padding: 30px 20px;
    .checkbox {
      padding-left: 45px;
      width: 100%;
      font-size: 12px;
      color: gray;
      margin-top: 1px;
      span {
        display: block;
        margin-top: 4px;
      }
    }
    .button-area {
      margin-top: 1px;
      margin-bottom: 1px;
      width: 100%;
      text-align: center;
      float: right;
      .btn {
        font-size: 16px;
        width: 200px;
        border-radius: 8px;
        padding: 3px;
      }
    }
  }
} 
