<!DOCTYPE html>
<html>
<head>
<%= render "header" %>
</head>
<body>
  <div class="topbar">
  </div>
  <nav class="navbar navbar-default">
    <%= render "navbar" %>
  </nav>
  <div id="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-lg-2">
          <div class="sidebar-nav">
            <%= render "sidebar" %>
          </div><!-- /.sidebar-nav -->
        </div><!-- /.col-""-" -->

        <div id="content" class="col-lg-10 col-sm-10">
          <ul class="breadcrumb">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Dashboard</a>
            </li>
          </ul>
          <%=yield%>
        </div><!-- /.content -->
      </div>
    </div>
  </div><!-- /.main -->
  <div class="countdown" data-until="2015/06/02 00:53:00" data-expiry="xxx">
  </div>
  <footer>
    <p id="copyright">&copy; Company, Ltd. 2010-2015. All rights reserved.</p>
  </footer>
</body>
</html>
